*{
    overflow-x: none;
    // max-width: 300px;
}
header{
    // width: 95%;
   height: 500px;
//    position: relative;
//    background-color: #006edc;
   margin-top: 40px;
   margin: 30px  auto;
   border-radius: 0px 0px 130px 0px;
   max-width: 1300px;
}


main{
    margin: 50px auto ;
    direction: rtl;
    max-width: 1300px;
}


footer{
    border-top:1px solid $color-silver ;
    // margin-top: 30px;
    max-width: 1300px;
    margin: 0 auto;
    
}

.m-main{
    display: flex;
    direction: ltr;
    // background-color: $color-silver;
}

